@import 'tailwindcss';


:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0 0 0);
}

[data-theme="dark"] {
  --background: oklch(0 0 0);
  --foreground: oklch(1 0 0);
  --primary: oklch(0.8868 0.182186 95.3305);
  --primary-foreground: oklch(0 0 0);
  --secondary: #222;
  --secondary-foreground: #666;
  --muted: oklch(0.325 0 0);
  --accent: oklch(0.9642 0 0);

  --success: oklch(0.7585 0.2477 143.18);
}

@theme {
   --color-background: var(--background);
   --color-foreground: var(--foreground);
   --color-primary: var(--primary);
   --color-primary-foreground: var(--primary-foreground);
   --color-secondary: var(--secondary);
   --color-secondary-foreground: var(--secondary-foreground);
   --color-muted: var(--muted);
   --color-accent: var(--accent);
   --color-success: var(--success);

   --font-sans: 'Bricolage Grotesque Variable', sans-serif;
}


::-webkit-scrollbar {
    display: none;
}

@layer base {
  html , body {
    @apply h-svh w-screen bg-background text-foreground text-base font-sans
  }
  
  #root {
      @apply size-full
  }

  button , input {
    @apply font-sans focus:outline-none
  }
  
  meta[name="theme-color"]{
      @apply transition-all
  }
}

@layer utilities {
  .wrapper {
    @apply w-full max-w-[400px] mx-auto h-full
  }

  .touchable {
    @apply transition-transform
  }

  .touchable:active {
    @apply opacity-70 scale-95
  }
}